html {
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  background-color: white;
  align-items: center;
  margin: auto;
  width: 50%;
}
.range{
    width: 100%;
}

h2{
    text-align: center;
}
h4{
    text-align: center;
}